<link
  rel="icon"
  type="image/png"
  href="https://shea-memorandum-site.b-cdn.net/images/favicon/favicon-96x96.png"
  sizes="96x96"
/>
<link
  rel="icon"
  type="image/svg+xml"
  href="https://shea-memorandum-site.b-cdn.net/images/favicon/favicon.svg"
/>
<link
  rel="shortcut icon"
  href="https://shea-memorandum-site.b-cdn.net/images/favicon/favicon.ico"
/>
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="https://shea-memorandum-site.b-cdn.net/images/favicon/apple-touch-icon.png"
/>
<link
  rel="manifest"
  href="https://shea-memorandum-site.b-cdn.net/site.webmanifest"
/>
