<nav data-navigation-status="not-active" class="navigation">
  <div class="navigation__header">
    <h2 class="navigation__title">The Shea Memorandum</h2>
    <button
      data-navigation-toggle="toggle"
      class="navigation__toggle"
      data-umami-event="navigation-toggle"
    >
      <div class="navigation__toggle-bar"></div>
      <div class="navigation__toggle-bar"></div>
      <div class="navigation__toggle-bar"></div>
    </button>
  </div>
  <div class="navigation__overlay">
    <img
      data-src="https://shea-memorandum-site.b-cdn.net/images/navigation-theme-desktop.webp"
      alt="The Shea Memorandum"
      class="navigation__background"
    />
    <ul class="navigation__menu">
      <li class="navigation__item">
        <a
          href="/"
          class="navigation__link internal-link"
          data-umami-event="home-link"
        >
          <span class="navigation__text">Home</span></a
        >
      </li>
      <li class="navigation__item">
        <a
          href="introduction"
          class="navigation__link internal-link"
          data-umami-event="introduction-link"
          ><span class="navigation__text">Introduction</span></a
        >
      </li>
      <li class="navigation__item">
        <a
          href="section-1"
          class="navigation__link internal-link"
          data-umami-event="section-1-link"
          ><span class="navigation__text"
            >General Preliminary Conclusions</span
          ></a
        >
      </li>
      <li class="navigation__item">
        <a
          href="section-2"
          class="navigation__link internal-link"
          data-umami-event="section-2-link"
          ><span class="navigation__text">Imperatives and Priorities</span></a
        >
      </li>
      <li class="navigation__item">
        <a
          href="section-3"
          class="navigation__link internal-link"
          data-umami-event="section-3-link"
          ><span class="navigation__text">The DEA Report</span></a
        >
      </li>
      <li class="navigation__item">
        <a
          href="section-4"
          class="navigation__link internal-link"
          data-umami-event="section-4-link"
          ><span class="navigation__text">The Israeli DEA Groups</span></a
        >
      </li>
      <li class="navigation__item">
        <a href="section-5" class="navigation__link internal-link"
          ><span class="navigation__text" data-umami-event="section-5-link"
            >The Future Hijackers and FBI Suspects</span
          ></a
        >
      </li>
      <li class="navigation__item">
        <a href="section-6" class="navigation__link internal-link"
          ><span class="navigation__text" data-umami-event="section-6-link"
            >Reports Concerning the Surveillance Activities</span
          ></a
        >
      </li>
      <li class="navigation__item">
        <a
          href="section-7"
          class="navigation__link internal-link"
          data-umami-event="section-7-link"
          ><span class="navigation__text">Northeastern New Jersey</span></a
        >
      </li>
      <li class="navigation__item">
        <a href="section-8" class="navigation__link internal-link"
          ><span class="navigation__text" data-umami-event="section-8-link"
            >Inadequate Israeli Warnings in August 2001</span
          ></a
        >
      </li>
      <li class="navigation__item">
        <a href="section-9" class="navigation__link internal-link"
          ><span class="navigation__text" data-umami-event="section-9-link"
            >The Watchlisting in August 2001</span
          ></a
        >
      </li>
      <li class="navigation__item">
        <a
          href="section-10"
          class="navigation__link internal-link"
          data-umami-event="section-10-link"
          ><span class="navigation__text">Why the Israeli Groups?</span></a
        >
      </li>
      <li class="navigation__item">
        <a href="section-11" class="navigation__link internal-link"
          ><span class="navigation__text" data-umami-event="section-11-link"
            >The CIA's Role and Responsibilities</span
          ></a
        >
      </li>
      <li class="navigation__item">
        <a
          href="section-12"
          class="navigation__link internal-link"
          data-umami-event="section-12-link"
        >
          <span class="navigation__text">Detailed Summary</span></a
        >
      </li>
      <!-- <li class="navigation__item"></li> -->
    </ul>
    <div class="navigation__footer">
      <p class="navigation__footer-text navigation__footer-text-highlight">
        Made by <a href="https://conspirasee.com">Conspirasee</a>
      </p>
      <p class="navigation__footer-text navigation__footer-text-tagline">
        Compiled. Collated. Composed.
      </p>
    </div>
  </div>
</nav>
