<section class="preloader">
  <section class="preloader-transition">
    <div class="preloader-transition-copy">
      <div class="preloader-transition-copy-outer">
        <h1 class="preloader-transition-title">The</h1>
      </div>
      <div class="preloader-transition-copy-outer">
        <h1 class="preloader-transition-title">Shea</h1>
      </div>
      <div class="preloader-transition-copy-outer">
        <h1 class="preloader-transition-title">Memo</h1>
      </div>
    </div>
  </section>
</section>
