{% extends "layouts/page.html" %} {% block title %}Introduction{% endblock %} {%
block content %}
<main data-template="introduction">
  <section class="page-content page-template">
    <article class="page-article">
      <header>
        <h1>
          Memorandum To The National Commission On Terrorist Attacks Upon The
          United States The Senate Select Committee On Intelligence The House
          Permanent Select Committee On Intelligence
        </h1>

        <span class="page-article__header-separator"></span>

        <h2>
          Israeli Surveillance of the Future Hijackers and FBI Suspects in the
          September 11 Attacks and Their Failure to Give Us Adequate Warning:
          The Need for a Public Inquiry
        </h2>
      </header>
      <section>
        <p>
          I am an international corporate lawyer, writing to you today about a
          matter of public policy that is relevant to the circumstances
          surrounding, and our preparedness for, the catastrophic attacks on
          September 11, 2001. I do not know whether the National Commission on
          Terrorist Attacks (the "Commission") or the Senate and House
          Committees on Intelligence (the "Committees") have had the opportunity
          to consider these issues carefully. If so, I hope this memorandum will
          be helpful. If not, I respectfully urge them, in accordance with the
          mandate of the Commission's charter and in the exercise of the
          Committees' responsibilities, to investigate the facts and resolve the
          questions presented.
        </p>

        <p>
          I regret that this memorandum comes to the Commission after the
          publication of its Final Report this past July (the "Commission's
          Final Report"). As will become evident, however, it has taken some
          time to assemble the facts from the raw data and other information set
          forth in available governmental and other reports and relevant
          documents in the public record. Moreover, and in any event, the need
          to examine and resolve the compelling issues presented here outweighs
          the mere appearance of completeness by putting a permanent end to the
          Commission's work.
        </p>

        <p>
          It is far more important, to all of us, that the Commission's work be
          accurate and complete or, at the very least, that the Commission urge
          that these questions be explored and resolved by another panel as
          independent, distinguished and objective as itself. Both the Senate
          and House Committees should endeavor to explore and resolve these
          issues as well.
        </p>
      </section>
    </article>

    <section class="page-navigation">
      <img
        class="page-navigation__background-image"
        data-src="https://shea-memorandum-site.b-cdn.net/images/section-1-footer-desktop.webp"
        alt="The Shea Memorandum"
      />
      <section class="page-navigation__section-links">
        <a href="/" class="page-navigation__link internal-link">
          <h5>PREVIOUS</h5>
          <h3 data-animation="title">Home</h3>
        </a>

        <a href="section-1" class="page-navigation__link internal-link">
          <h5>NEXT</h5>
          <h3 data-animation="title">General Preliminary Conclusions</h3>
        </a>
      </section>
    </section>
  </section>
</main>

{% endblock %}
