{% extends "layouts/page.html" %} {% block title %}The Shea Memorandum{%
endblock %} {% block content %}
<main class="media" data-template="media">
  <section class="hero-section page-template">
    <section class="hero-background">
      <div class="hero-background__overlay">
        <img
          class="hero-background__image"
          data-src="https://shea-memorandum-site.b-cdn.net/images/home-theme-desktop.webp"
          alt="The Shea Memorandum"
        />
      </div>
    </section>
    <section class="hero-content">
      <header class="hero-header">
        <div class="hero-header__byline">
          <p class="hero-header__byline-copy">
            Media coverage on Israeli Spying After 9/11
          </p>
        </div>
      </header>
      <article class="hero-content__page">
        <nav class="hero-nav" data-follower-wrap="">
          <section class="hero-nav__section">
            <header class="hero-nav__section-header">
              <h2 class="hero-nav__section-title">Media Stories & Reports</h2>
            </header>
            <ul class="hero-nav__section-list" data-follower-collection="">
              <li class="hero-nav__section-list-item" data-follower-item="">
                <a
                  href="https://www.nytimes.com/2001/11/21/us/nation-challenged-detainees-dozens-israeli-jews-are-being-kept-federal-detention.html"
                  class="hero-nav__section-list-link"
                  target="_blank"
                  rel="noreferrer noopener"
                  data-umami-event="media-link"
                  >A Nation Challenged: The Detainees; Dozens of Israeli Jews
                  Are Being Kept in Federal Detention</a
                >
              </li>
              <li class="hero-nav__section-list-item" data-follower-item="">
                <a
                  href="https://www.nytimes.com/2001/09/12/us/day-terror-israelis-spilled-blood-seen-bond-that-draws-2-nations-closer.html"
                  class="hero-nav__section-list-link"
                  target="_blank"
                  rel="noreferrer noopener"
                  data-umami-event=""
                  >A Day Of Terror: The Israelis; Spilled Blood Is Seen as Bond
                  That Draws 2 Nations Closer</a
                >
              </li>
              <li class="hero-nav__section-list-item" data-follower-item="">
                <a
                  href="https://forward.com/news/325698/spy-rumors-fly-on-gusts-of-truth/"
                  class="hero-nav__section-list-link"
                  target="_blank"
                  rel="noreferrer noopener"
                  data-umami-event=""
                  >Spy Rumors Fly on Gusts of Truth</a
                >
              </li>
              <li class="hero-nav__section-list-item" data-follower-item="">
                <a
                  href="https://forward.com/news/325701/fbi-probe-defuses-israeli-spying-rumors/"
                  class="hero-nav__section-list-link"
                  target="_blank"
                  rel="noreferrer noopener"
                  data-umami-event=""
                  >FBI Probe Defuses Israeli Spying Rumors</a
                >
              </li>
              <li class="hero-nav__section-list-item" data-follower-item="">
                <a
                  href="https://forward.com/news/9433/feds-seek-israeli-suspects-in-operation-stow-bi/"
                  class="hero-nav__section-list-link"
                  target="_blank"
                  rel="noreferrer noopener"
                  data-umami-event=""
                  >Feds Seek Israeli Suspects in ‘Operation Stow Biz’</a
                >
              </li>
              <li class="hero-nav__section-list-item" data-follower-item="">
                <a
                  href="https://www.unz.com/wwebb/the-dancing-israelis-fbi-docs-shed-light-on-apparent-mossad-foreknowledge-of-9-11-attacks/"
                  class="hero-nav__section-list-link"
                  target="_blank"
                  rel="noreferrer noopener"
                  data-umami-event=""
                  >The Dancing Israelis: FBI Docs Shed Light on Apparent Mossad
                  Foreknowledge of 9/11 Attacks</a
                >
              </li>
              <li class="hero-nav__section-list-item" data-follower-item="">
                <a
                  href="https://www.haaretz.com/2001-09-26/ty-article/odigo-says-workers-were-warned-of-attack/0000017f-dbc4-df62-a9ff-dfd7beff0000"
                  class="hero-nav__section-list-link"
                  target="_blank"
                  rel="noreferrer noopener"
                  data-umami-event=""
                  >Odigo Says Workers Were Warned of Attack</a
                >
              </li>
              <li class="hero-nav__section-list-item" data-follower-item="">
                <a
                  href="https://thegrayzone.com/2021/09/11/dancing-israelis-9-11-plotters-spies-scam-artists/"
                  class="hero-nav__section-list-link"
                  target="_blank"
                  rel="noreferrer noopener"
                  data-umami-event=""
                  >Were the notorious ‘Dancing Israelis’ 9/11 plotters, spies,
                  or just common scam artists?</a
                >
              </li>
              <li class="hero-nav__section-list-item" data-follower-item="">
                <a
                  href="https://thegrayzone.com/wp-content/uploads/2021/09/2001-9-28-USA-Today-911-Conspiracy.pdf"
                  class="hero-nav__section-list-link"
                  target="_blank"
                  rel="noreferrer noopener"
                  data-umami-event=""
                  >Conspiracy Theories Say Israeli Did It</a
                >
              </li>
            </ul>
          </section>
        </nav>
      </article>
    </section>
  </section>
</main>
{% endblock %}
