{% extends "layouts/page.html" %} {% block title %}Detailed Summary{% endblock
%} {% block content %}
<main data-template="section-12">
  <section class="page-content page-template">
    <article class="page-article">
      <header>
        <h1>Detailed Summary</h1>
      </header>
      <section>
        <p>
          Set forth below is a detailed summary of the tentative conclusions
          reached in this memorandum, which amply illustrate the urgent need for
          a public inquiry into the activities of the Israeli DEA Groups and the
          Israeli New Jersey Group. The inquiry must include, without
          limitation, the examination of members of the Israel Groups and
          related persons; officials of the Israeli government and certain of
          its agencies, including Mossad; FBI suspects, agents of the DEA, the
          INS and the FBI; certain local law enforcement officials; agents of
          the CIA (in camera to the extent required); other intelligence sources
          cited by the public press to the extent possible; the boxes of
          documents and computer hard drives (referred on
          <a href="section-6" class="page-article-link">page 29</a>) seized by the FBI from the Israeli
          New Jersey Group; and of all other relevant documents, reports,
          communiqués and information.
        </p>

        <ol>
          <li>
            The Israeli DEA Groups were spying on the Drug Enforcement Agency
            and thus upon the United States. The DEA itself has concluded that
            they were probably engaged in organized intelligence gathering on
            our soil.
          </li>
          <li>
            A highly regarded American journal knowledgeable about Israeli
            affairs, has concluded <b>(a)</b> based on its own sources, that the
            Israeli DEA Groups were spying on radical Islamic networks suspected
            of links to Middle East terrorism, and <b>(b)</b> based on the
            representations of a former American intelligence official regularly
            briefed on these matters by law enforcement officials, that
            <b>(i)</b> at least two members of the Israeli New Jersey Group were
            Mossad operatives, <b>(ii)</b> Urban Moving, the company used by the
            Israeli New Jersey Group, was a front for Mossad and its operatives,
            and <b>(iii)</b>
            the Israeli New Jersey Group was spying on local Arabs.
          </li>
          <li>
            The intelligence sources of a substantial American television
            network report that the Israeli DEA Groups may have gathered
            information about the September 11 attacks in advance, and not
            shared it with the United States. One investigator said that
            evidence linking the Israeli DEA Groups to such intelligence
            gathering was classified and could not be disclosed.
          </li>
          <li>
            The Israeli DEA Groups were comprised of 125 or more Israelis
            operating on our soil. Their leaders and apparent associates
            included military commanders and experts with military backgrounds
            in intelligence, electronic intercepts and telecommunications.
          </li>
          <li>
            The wiretapping and intelligence expertise of members of both
            Israeli Groups, and the use of vans in local neighborhoods where the
            future hijackers were planning the attacks, and the extensive use by
            the hijackers of cell phones and land lines, made the Israeli Groups
            ideally suited to gather information regarding the hijackers' plans.
          </li>
          <li>
            The principal operation of the Israeli DEA Groups was located in and
            around Hollywood, Florida, the central training and staging ground
            for the hijacking of North and South Tower Planes and the
            Pennsylvania Plane. The addresses and places of residence of the
            members of the Israeli DEA Groups in Hollywood itself were within
            hundreds of yards those of the future hijackers.
          </li>
          <li>
            The operations of both the Israeli New Jersey Group and the
            hijackers of the Pentagon Plane were centered in Hudson and Bergen
            Counties in New Jersey, within a common radius of about six miles.
          </li>
          <li>
            All five celebrating members of the Israeli New Jersey Group
            arrested on September 11 were aware, when the North Tower Plane
            struck the World Trade Center, based on their immediate reaction to
            the attack and the information said to be contained in their van,
            that the attack had been planned and carried out by Arab terrorists.
          </li>
          <li>
            After being questioned by the FBI on September 11, the leader of the
            Israeli New Jersey Group immediately fled the United States to
            Israel. His name and aliases appear, along with those of the
            hijackers and other FBI suspects, on the May 2002 FBI Suspect list.
          </li>
          <li>
            Israeli intelligence officials have reported that two senior
            officials of Mossad warned the United States in August 2001 that as
            many as 200 terrorists on American soil were planning an imminent
            large-scale attack on high visibility targets on the American
            mainland. One press report states that in August Mossad provided the
            CIA with the names of future hijackers Khaled al Mihdhar and Nawaf
            al Hazmi.
          </li>
          <li>
            The CIA's explanation of how Mihdhar's and Hazmi's names were placed
            on the Watchlist through the spontaneous efforts of CIA and FBI
            agents is not only difficult to follow but, as the sole reason for
            the Watchlisting, hardly credible.
          </li>
          <li>
            Mossad's own information appears to have come from its sources
            inside the United States. All of the facts and circumstances set
            forth in this memorandum appear to show that Mossad's two likely
            sources of information were: <b>(a)</b> the Israeli DEA Groups,
            comparable in number to that of the Arab suspects and who appear to
            have tracked the future hijackers in their central places of
            operation and in other states, and <b>(b)</b> the Israeli New Jersey
            Group, operating through their Mossad front in another principal
            locus of operations of the future hijackers, two of whom were Mossad
            agents, and five of whom appeared immediately aware of the origin of
            the attacks on September 11.
          </li>
          <li>
            While little direct evidence supports the contention that the CIA
            was aware of or condoned the Israeli Groups' tracking of Arab
            terrorist groups in the United States prior to September 11, the
            CIA's pressing for the expulsion of members of the Israeli DEA
            Groups when they were detained before September 11, their failure to
            cooperate with the FBI, their circuitous explanation of how the
            above two hijackers were placed on the Watchlist, and other relevant
            considerations require that the issue be taken up as a part of the
            public inquiry into these painful events.
          </li>
        </ol>
        <p>Gerald Shea</p>
      </section>
    </article>

    <section class="page-navigation">
      <img
        class="page-navigation__background-image"
        data-src="https://shea-memorandum-site.b-cdn.net/images/section-12-footer-desktop.webp"
        alt="Detailed Summary"
      />
      <section class="page-navigation__section-links">
        <a href="section-11" class="page-navigation__link internal-link">
          <h5>PREVIOUS</h5>
          <h3 data-animation="title">The CIA's Role and Responsibilities</h3>
        </a>
        <a href="/" class="page-navigation__link internal-link">
          <h5>NEXT</h5>
          <h3 data-animation="title">Home</h3>
        </a>
      </section>
    </section>
  </section>
</main>
{% endblock %}
