{% extends "layouts/page.html" %} {% block title %}Imperatives and Priorities{%
endblock %} {% block content %}
<main data-template="section-2">
  <section class="page-content page-template">
    <article class="page-article">
      <header>
        <h1>Imperatives and Priorities</h1>
      </header>
      <section>
        <p>
          It need hardly be observed that the demands of justice and national
          security, and the rights of the victims and their survivors, require
          that our first imperative, as a nation, be to find and bring to
          justice Osama bin Laden and his coadjutors, as well as other members
          of al Qaeda, and all others who bear responsibility for the horrendous
          loss of life on that terrible September day. That work is of course
          the charge of our political, intelligence, defense, military and
          defense establishments and our judiciary.
        </p>

        <p>
          The Commission's task is a collateral and subordinate one &mdash; to
          investigate the circumstances surrounding and our preparedness for the
          September 11 attacks, in the hope that we can prevent one from ever
          happening again. This is the charge of the Committees as well. This
          memorandum, therefore, while it naturally stresses, for the benefit of
          the Commission and the Committees, the present issues relating to
          surveillance and disclosure, before and at about the time of the
          attacks, should not be mistaken as any effort to place the blame for
          the cause of our suffering on anyone but al Qaeda and its members, or
          to weaken the resolve of our country in finding, capturing and
          punishing those who have brought so much misery to so many of us.
        </p>
      </section>
    </article>

    <section class="page-navigation">
      <img
        class="page-navigation__background-image"
        data-src="https://shea-memorandum-site.b-cdn.net/images/section-2-footer-desktop.webp"
        alt="Imperatives and Priorities"
      />
      <section class="page-navigation__section-links">
        <a href="section-1" class="page-navigation__link internal-link">
          <h5>PREVIOUS</h5>
          <h3 data-animation="title">General Preliminary Conclusions</h3>
        </a>

        <a href="section-3" class="page-navigation__link internal-link">
          <h5>NEXT</h5>
          <h3 data-animation="title">The DEA Report</h3>
        </a>
      </section>
    </section>
  </section>
</main>
{% endblock %}
