{% extends "layouts/page.html" %} {% block title %}Why the Israeli Groups?{%
endblock %} {% block content %}
<main data-template="section-10">
  <section class="page-content page-template">
    <article class="page-article">
      <header>
        <h1>Why the Israeli Groups?</h1>
      </header>
      <section>
        <p>
          It is not necessary at this early stage of inquiry into these events
          to speculate on the original rationale for the U.S. activities of the
          two Israeli Groups. A study of that question will best be undertaken
          in the course of the public inquiry. But a few thoughts may lend some
          perspective to the question.
        </p>
        <p>
          It may be that originally the Israeli DEA Groups did little more than
          sell art (though illegally and in violation of their visas). Once the
          need or usefulness of keeping Arab groups under surveillance in the
          United States became apparent to the Israeli government, it may have
          viewed these art salesmen and their vans as ideal groups and vehicles
          into which to insert sophisticated agents with telecommunications,
          wiretapping or electronic eavesdropping equipment and intelligence
          expertise.
        </p>
        <p>
          The vans in the operations of both Israeli Groups
          <sup
            ><a
              href="#footnote-122"
              id="footnote-122"
              class="footnote-superscript-link"
              >122</a
            ></sup
          >
          were able to move about neighborhoods without raising undue concern.
          The "art students" in the Israeli DEA Groups were using their vans as
          sometime door-to-door salesmen. The personnel of Urban Moving Systems,
          the Mossad front, were ostensibly driving about northeastern New
          Jersey towns in their van (or vans) to help people move—a familiar
          suburban sight.
        </p>
        <p>
          With ample room for personnel and electronic equipment, the vans were
          ideal vehicles for electronic eavesdropping.
          <sup
            ><a
              href="#footnote-123"
              id="footnote-123"
              class="footnote-superscript-link"
              >123</a
            ></sup
          >
          The extent to which Nice Systems, the Israeli wiretapping company for
          which Tomer Ben Dor worked (the Israeli with the reference to "DEA
          Groups" in his computer files) will be a matter for the public
          inquiry. Nice Systems was ideally suited to provide equipment and
          expertise to the Israeli New Jersey Group because its U.S.
          headquarters were located in Rutherford, New Jersey, near the center
          of the Group's operations (<a
            href="https://shea-memorandum-site.b-cdn.net/pdfs/the-shea-memorandum-map-3.pdf"
            class="page-article-link"
            >Map 3</a
          >).
        </p>
        <p>
          The future hijackers were frequent users of land lines and cell
          telephones and thus were ideal subjects for electronic surveillance.
          Mihdhar regularly telephoned a terrorist facility in the Middle East
          from the United States.
          <sup
            ><a
              href="#footnote-124"
              id="footnote-124"
              class="footnote-superscript-link"
              >124</a
            ></sup
          >
          Both Mihdhar and Hazmi were "constantly on their cell phones."
          <sup
            ><a
              href="#footnote-125"
              id="footnote-125"
              class="footnote-superscript-link"
              >125</a
            ></sup
          >
          Mohamed Atta made calls to Madrid from Coral Springs
          <sup
            ><a
              href="#footnote-126"
              id="footnote-126"
              class="footnote-superscript-link"
              >126</a
            ></sup
          >
          and used his cell phone to call lodging establishments in Florida.
          <sup
            ><a
              href="#footnote-127"
              id="footnote-127"
              class="footnote-superscript-link"
              >127</a
            ></sup
          >
          Ramzi Binalshibh, a plot leader based in Hamburg, frequently called
          Atta,
          <sup
            ><a
              href="#footnote-128"
              id="footnote-128"
              class="footnote-superscript-link"
              >128</a
            ></sup
          >
          Shehhi
          <sup
            ><a
              href="#footnote-129"
              id="footnote-129"
              class="footnote-superscript-link"
              >129</a
            ></sup
          >
          and Moussaoui
          <sup
            ><a
              href="#footnote-130"
              id="footnote-130"
              class="footnote-superscript-link"
              >130</a
            ></sup
          >
          from Hamburg. Jarrah made hundreds of phone calls from Florida
          <sup
            ><a
              href="#footnote-131"
              id="footnote-131"
              class="footnote-superscript-link"
              >131</a
            ></sup
          >
          and Hanjour, Hazmi and other hijackers made 75 calls in two days
          <sup
            ><a
              href="#footnote-132"
              id="footnote-132"
              class="footnote-superscript-link"
              >132</a
            ></sup
          >
          to locate apartments, flight schools and car rental agencies for the
          New Jersey hijackers (of the Pentagon Plane).
        </p>
        <p>
          As to the Israeli DEA Groups' surveillance of the DEA, it is difficult
          if not impossible to learn from the public record, at this time, the
          precise nature of the information they were seeking from that agency.
          The DEA itself was not sure then, and it may not know to this day. The
          DEA had its own concerns about the Israeli DEA Groups relating to
          previous drug investigations, as noted above. Perhaps these concerns
          were well-founded. Perhaps the Israelis were using these units in part
          as a training ground (on our soil) for future agents, or were
          interested in learning the DEA's methods for tracking drug traffickers
          and their money, a potential source of funding for terrorist groups.
        </p>
        <p>
          But in all likelihood the selling of art and (though far riskier) the
          DEA spying were covers for their more important work of keeping Arab
          groups under surveillance in the United States. This activity appears
          ultimately to have led the Israelis to the future hijackers, and
          forced upon them unwelcome decisions as to how much, and when, they
          should tell the United States of what they had learned.
        </p>
      </section>
    </article>

    <section class="page-navigation">
      <img
        class="page-navigation__background-image"
        data-src="https://shea-memorandum-site.b-cdn.net/images/section-10-footer-desktop.webp"
        alt="Why the Israeli Groups?"
      />
      <section class="page-navigation__section-links">
        <a href="section-9" class="page-navigation__link internal-link">
          <h5>PREVIOUS</h5>
          <h3 data-animation="title">
            The Watchlisting of Khaled al Mihdhar and Nawaf al Hazmi in August
            2001
          </h3>
        </a>

        <a href="section-11" class="page-navigation__link internal-link">
          <h5>NEXT</h5>
          <h3 data-animation="title">The CIA's Role and Responsibilities</h3>
        </a>
      </section>
    </section>

    <section class="page-footnotes">
      <header class="page-footnotes__header-wrapper">
        <h2 data-animation="title" class="page-footnotes__header">Footnotes</h2>
        <span class="page-footnotes__header-span"
          >Click footnote to jump back to reading position</span
        >
      </header>

      <div data-directional-hover="" data-type="y" class="page-footnotes__list">
        <a
          data-directional-hover-item=""
          href="#footnote-122"
          class="page-footnotes__item footnote-link"
        >
          <div class="page-footnotes__border"></div>
          <section class="page-footnotes__footnote" id="footnote-122">
            <div class="page-footnotes__footnote-number">122</div>
            <div class="page-footnotes__footnote-detail">
              Only one van, that stopped on September 11, has been identified as
              used by the Israeli New Jersey Group. We do not yet know (a)
              whether Urban Moving Systems had a number of vans, (b) how many of
              its employees worked in vans beyond the five arrested on September
              11, or (c) whether any of its employees fled to Israel along with
              Dominik Suter.
            </div>
          </section>
        </a>
        <a
          data-directional-hover-item=""
          href="#footnote-123"
          class="page-footnotes__item footnote-link"
        >
          <div class="page-footnotes__border"></div>
          <section class="page-footnotes__footnote" id="footnote-123">
            <div class="page-footnotes__footnote-number">123</div>
            <div class="page-footnotes__footnote-detail">
              As we have seen, both Israeli Groups used Chevrolet vans. The
              Israeli DEA Groups' vans (to the extent identified) also included
              a GMC Safari van, a GMC full-size custom van, a Ford van, a Dodge
              mini-van, and unspecified panel vans. See generally the DEA
              Report. 124 Joint Committee Report, p. 17.
            </div>
          </section>
        </a>
        <a
          data-directional-hover-item=""
          href="#footnote-124"
          class="page-footnotes__item footnote-link"
        >
          <div class="page-footnotes__border"></div>
          <section class="page-footnotes__footnote" id="footnote-124">
            <div class="page-footnotes__footnote-number">124</div>
            <div class="page-footnotes__footnote-detail">
              Joint Committee Report, p. 17.
            </div>
          </section>
        </a>
        <a
          data-directional-hover-item=""
          href="#footnote-125"
          class="page-footnotes__item footnote-link"
        >
          <div class="page-footnotes__border"></div>
          <section class="page-footnotes__footnote" id="footnote-125">
            <div class="page-footnotes__footnote-number">125</div>
            <div class="page-footnotes__footnote-detail">
              Hijacker Timeline, p. 10.
            </div>
          </section>
        </a>
        <a
          data-directional-hover-item=""
          href="#footnote-126"
          class="page-footnotes__item footnote-link"
        >
          <div class="page-footnotes__border"></div>
          <section class="page-footnotes__footnote" id="footnote-126">
            <div class="page-footnotes__footnote-number">126</div>
            <div class="page-footnotes__footnote-detail">
              Hijacker Timeline, p. 28.
            </div>
          </section>
        </a>
        <a
          data-directional-hover-item=""
          href="#footnote-127"
          class="page-footnotes__item footnote-link"
        >
          <div class="page-footnotes__border"></div>
          <section class="page-footnotes__footnote" id="footnote-127">
            <div class="page-footnotes__footnote-number">127</div>
            <div class="page-footnotes__footnote-detail">
              Commission Final Report, p. 228.
            </div>
          </section>
        </a>
        <a
          data-directional-hover-item=""
          href="#footnote-128"
          class="page-footnotes__item footnote-link"
        >
          <div class="page-footnotes__border"></div>
          <section class="page-footnotes__footnote" id="footnote-128">
            <div class="page-footnotes__footnote-number">128</div>
            <div class="page-footnotes__footnote-detail">
              Commission Final Report, p. 245
            </div>
          </section>
        </a>
        <a
          data-directional-hover-item=""
          href="#footnote-129"
          class="page-footnotes__item footnote-link"
        >
          <div class="page-footnotes__border"></div>
          <section class="page-footnotes__footnote" id="footnote-129">
            <div class="page-footnotes__footnote-number">129</div>
            <div class="page-footnotes__footnote-detail">
              Commission Final Report, p. 244.
            </div>
          </section>
        </a>
        <a
          data-directional-hover-item=""
          href="#footnote-130"
          class="page-footnotes__item footnote-link"
        >
          <div class="page-footnotes__border"></div>
          <section class="page-footnotes__footnote" id="footnote-130">
            <div class="page-footnotes__footnote-number">130</div>
            <div class="page-footnotes__footnote-detail">Ibid.</div>
          </section>
        </a>
        <a
          data-directional-hover-item=""
          href="#footnote-131"
          class="page-footnotes__item footnote-link"
        >
          <div class="page-footnotes__border"></div>
          <section class="page-footnotes__footnote" id="footnote-131">
            <div class="page-footnotes__footnote-number">131</div>
            <div class="page-footnotes__footnote-detail">
              Commission Final Report, p. 225.
            </div>
          </section>
        </a>
        <a
          data-directional-hover-item=""
          href="#footnote-132"
          class="page-footnotes__item footnote-link"
        >
          <div class="page-footnotes__border"></div>
          <section class="page-footnotes__footnote" id="footnote-132">
            <div class="page-footnotes__footnote-number">132</div>
            <div class="page-footnotes__footnote-detail">
              Joint Committee Report, p. 187.
            </div>
          </section>
        </a>
        <div class="page-footnotes__border"></div>
      </div>
    </section>
  </section>
</main>
{% endblock %}
