{% extends "layouts/page.html" %} {% block title %}About{% endblock %} {% block
content %}
<main data-template="section-3">
  <section class="page-content page-template">
    <article class="page-article">
      <header>
        <h1>The DEA Report</h1>
      </header>

      <section>
        <p>
          In June 2001, the Office of Security of the Drug Enforcement
          Administration (the “DEA”) issued a long report (the “DEA Report”)
          describing in precise detail the attempts of approximately 125 or more
          nationals of a foreign country, most posing as art students, “to
          penetrate several DEA Field Offices in the continental United States.”
          Many of these individuals also visited the residences of numerous DEA
          officials and “other agencies’ facilities and the residences of their
          employees.” The DEA Report states that “these incidents have occurred
          since at least the beginning of 2000, and have continued to the
          present.” They were ongoing activities in the summer of 2001. A copy
          of the DEA Report is attached as an
          <a
            href="https://shea-memorandum-site.b-cdn.net/pdfs/the-shea-memorandum-exhibit-a.pdf"
            class="page-article-link"
            >Exhibit A</a
          >.
        </p>
      </section>
    </article>
    <section class="page-navigation">
      <img
        class="page-navigation__background-image"
        data-src="https://shea-memorandum-site.b-cdn.net/images/section-3-footer-desktop.webp"
        alt="The DEA Report"
      />
      <section class="page-navigation__section-links">
        <a href="section-2" class="page-navigation__link internal-link">
          <h5>PREVIOUS</h5>
          <h3 data-animation="title">Imperatives and Priorities</h3>
        </a>

        <a href="section-4" class="page-navigation__link internal-link">
          <h5>NEXT</h5>
          <h3 data-animation="title">The Israeli DEA Groups</h3>
        </a>
      </section>
    </section>
  </section>
</main>
{% endblock %}
