{% extends "layouts/page.html" %} {% block title %}Reports Concerning the
Surveillance Activities of the Israeli DEA Groups{% endblock %} {% block content
%}
<main data-template="section-6">
  <section class="page-content page-template">
    <article class="page-article">
      <header>
        <h1>
          Reports Concerning the Surveillance Activities
        </h1>
      </header>
      <section>
        <p>
          As noted above, almost immediately after September 11, credible
          reports emerged of Israeli warnings, in August 2001, of an imminent
          large-scale terrorist attack on the United States. One television
          network reported in a four-part series in December 2001 that &mdash;
        </p>
        <blockquote>
          "Investigators suspect that the Israeli [DEA Groups] may have gathered
          intelligence about the attacks in advance, and not shared it. A highly
          placed investigator said there are 'tie-ins.' But when asked for
          details, he flatly refused to describe them, saying 'evidence linking
          these Israelis to 9-11 is classified. I cannot tell you about evidence
          that has been gathered. It's classified information.'"
          <sup
            ><a
              href="#footnote-74"
              id="footnote-74"
              class="footnote-superscript-link"
              >74</a
            ></sup
          >
        </blockquote>

        <p>
          The Forward, the highly respected American journal, at first
          discounted Fox's account,
          <sup
            ><a
              href="#footnote-75"
              id="footnote-75"
              class="footnote-superscript-link"
              >75</a
            ></sup
          >
          but in an article three months later reported that &mdash;
        </p>

        <blockquote>
          "[F]ar from pointing to Israeli spying against U.S. government and
          military facilities . . . the incidents in question [the activities of
          the Israeli DEA Groups] appear to represent a case of Israelis in the
          United States spying on a common enemy, radical Islamic networks
          suspect of links to Middle East terrorism. . . . [A]llegations
          involved . . . Israelis claiming to be art students who had
          backgrounds in signal interception and ordnance."
          <sup
            ><a
              href="#footnote-76"
              id="footnote-76"
              class="footnote-superscript-link"
              >76</a
            ></sup
          >
        </blockquote>

        <p>
          It is very difficult to believe, based on the existing evidence and
          the location of their common central operating bases, that these
          Groups, who were clearly spying on the DEA and the United States, and
          were keeping under surveillance Islamic groups in the U.S. with links
          to Middle East terrorism, were not tracking the future hijackers and
          their collaborators as well.
        </p>
      </section>
    </article>

    <section class="page-navigation">
      <img
        class="page-navigation__background-image"
        data-src="https://shea-memorandum-site.b-cdn.net/images/section-6-footer-desktop.webp"
        alt="Reports Concerning the Surveillance Activities of the Israeli DEA Groups"
      />
      <section class="page-navigation__section-links">
        <a href="section-5" class="page-navigation__link internal-link">
          <h5>PREVIOUS</h5>
          <h3 data-animation="title">The Future Hijackers and FBI Suspects</h3>
        </a>

        <a href="section-7" class="page-navigation__link internal-link">
          <h5>NEXT</h5>
          <h3 data-animation="title">
            Northeastern New Jersey—Another Vital Center of Operations for Both
            Sides
          </h3>
        </a>
      </section>
    </section>

    <section class="page-footnotes">
      <header class="page-footnotes__header-wrapper">
        <h2 data-animation="title" class="page-footnotes__header">Footnotes</h2>
        <span class="page-footnotes__header-span"
          >Click footnote to jump back to reading position</span
        >
      </header>

      <div data-directional-hover="" data-type="y" class="page-footnotes__list">
        <a
          data-directional-hover-item=""
          href="#footnote-74"
          class="page-footnotes__item footnote-link"
        >
          <div class="page-footnotes__border"></div>
          <section class="page-footnotes__footnote" id="footnote-74">
            <div class="page-footnotes__footnote-number">74</div>
            <div class="page-footnotes__footnote-detail">
              Transcript of Telecast of Fox Television News, December 12, 2001.
            </div>
          </section>
        </a>
        <a
          data-directional-hover-item=""
          href="#footnote-75"
          class="page-footnotes__item footnote-link"
        >
          <div class="page-footnotes__border"></div>
          <section class="page-footnotes__footnote" id="footnote-75">
            <div class="page-footnotes__footnote-number">75</div>
            <div class="page-footnotes__footnote-detail">
              Israel Calls Fox's Spy Reports 'Baseless', by Marc Perelman, the
              Forward, December 21, 2001.
            </div>
          </section>
        </a>
        <a
          data-directional-hover-item=""
          href="#footnote-76"
          class="page-footnotes__item footnote-link"
        >
          <div class="page-footnotes__border"></div>
          <section class="page-footnotes__footnote" id="footnote-76">
            <div class="page-footnotes__footnote-number">76</div>
            <div class="page-footnotes__footnote-detail">
              Spy Rumors Fly on Gusts of Truth, Americans Probing Reports of
              Israeli Espionage, by Marc Perelman and Forward Staff, the Forward
              March 15, 2002.
            </div>
          </section>
        </a>
        <div class="page-footnotes__border"></div>
      </div>
    </section>
  </section>
</main>

{% endblock %}
