{% extends "layouts/page.html" %} {% block title %}The Shea Memorandum{%
endblock %} {% block content %}
<main class="section-1" data-template="section-1">
  <section class="page-content page-template">
    <article class="page-article">
      <header>
        <h1>General Preliminary Conclusions</h1>
      </header>

      <section>
        <p>
          This memorandum, on the basis of the information set forth below, the
          Exhibits hereto and the reports and other documents cited herein,
          comes to the following general preliminary conclusions. The
          confirmation or effective rebuttal of these conclusions can be arrived
          at only by a public inquiry and a thorough examination of all
          necessary and appropriate witnesses and all relevant documentary and
          other evidence. A detailed summary of these tentative conclusions is
          set forth at pages <a href="section-12">49 to 52</a>.
        </p>

        <p>
          I emphasize at the outset that the purpose of this memorandum is not
          to accuse any individual or individuals (excluding the hijackers
          themselves), or any company, of any unlawful act or any other act
          harmful to 2 the United States. That will be the task of others only
          after, and solely if justified by, the determination of all the
          relevant facts in the course of the public inquiry.
        </p>

        <ol>
          <li>
            In the months leading up to September 11, 2001, the Israeli DEA
            Groups
            <sup
              ><a
                href="#footnote-1"
                id="footnote-1"
                class="footnote-superscript-link"
                >1</a
              ></sup
            >
            were spying on the United States.
            <sup
              ><a
                href="#footnote-2"
                id="footnote-2"
                class="footnote-superscript-link"
                >2</a
              ></sup
            >
            They were at the same time keeping Arab groups in our country under
            surveillance, including the future hijackers and other FBI suspects
            in the catastrophic attacks of September 11. The base of operations
            for both the Israeli DEA Groups and the future hijackers of the
            World Trade Center Planes and the Pennsylvania Plane was in and
            around Hollywood, Florida.
          </li>
          <li>
            During the same period, the Israeli New Jersey Group was keeping
            under surveillance Arab groups in Bergen and Hudson Counties, New
            Jersey, across the Hudson River from Manhattan, including the future
            hijackers of the Pentagon Plane, whose center of operations was also
            in Bergen and Hudson Counties. The Israeli New Jersey Group appears
            to have been aware, before they occurred, that hijackings had been
            planned by Arab terrorists, as evidenced by their jubilation when
            the World Trade Center was first struck, by the North Tower Plane.
            The leader of the Israeli New Jersey Group, who has fled the United
            States for Israel, is included, along with the names of the
            hijackers and FBI suspects, on the May 2002 FBI Suspect List.
          </li>
          <li>
            The Israeli Government, through its external security agency,
            Mossad, warned the United States in August 2001 that an impending
            catastrophic attack on our soil was being planned by Arab terrorist
            cells located in the United States. The warnings were the result of
            the Israeli Groups' surveillance of the future hijackers in this
            country.
          </li>
          <li>
            The Mossad warnings were too vague and too late to have enabled the
            United States to take any action to prevent the imminent attacks at
            unspecified locations in the U.S., or to detain the individuals who
            were planning them.
          </li>
          <li>
            Why the Israeli government decided not to share with us all the
            critical information they had, and the extent of that information,
            is a subject for the public inquiry. They may have thought some sort
            of warning prudent in the event their surveillance activities later
            became a matter of public knowledge. But any energetic Israeli
            effort to assist the United States in preventing the attacks would
            not have served their strategic interest, in view of the disastrous
            effect those attacks were likely to have on the relationships
            between the United States and the Arab world. As a leader of the
            Israeli New Jersey Group said when he was arrested on the afternoon
            of September 11, "We are Israeli. We are not your problem. Your
            problems are our problems."
          </li>
          <li>
            Whether and to what extent the CIA, though surely not aware of the
            plans of the future hijackers before the attacks, might have been
            aware of or condoned the Israeli Groups' surveillance of Arab groups
            generally in the United States prior to September 11 is a further
            question that must be explored in the course of the public inquiry.
            The CIA's explanation of why two future hijackers were placed on a
            Watchlist in August 2001, as set forth in the Commission's Final
            Report, is implausible and may have been designed to conceal the
            Israeli warnings. This consideration, along with other important
            factors discussed below, opens the door to a thorough investigation
            of this issue as well.
          </li>
        </ol>
      </section>
    </article>

    <section class="page-navigation">
      <img
        class="page-navigation__background-image"
        data-src="https://shea-memorandum-site.b-cdn.net/images/section-1-footer-desktop.webp"
        alt="General Preliminary Conclusions"
      />
      <section class="page-navigation__section-links">
        <a href="introduction" class="page-navigation__link internal-link">
          <h5>PREVIOUS</h5>
          <h3 data-animation="title">Introduction</h3>
        </a>

        <a href="section-2" class="page-navigation__link internal-link">
          <h5>NEXT</h5>
          <h3 data-animation="title">Imperatives and Priorities</h3>
        </a>
      </section>
    </section>

    <section class="page-footnotes">
      <header class="page-footnotes__header-wrapper">
        <h2 data-animation="title" class="page-footnotes__header">Footnotes</h2>
        <span class="page-footnotes__header-span"
          >Click footnote to jump back to reading position</span
        >
      </header>

      <div data-directional-hover="" data-type="y" class="page-footnotes__list">
        <a
          data-directional-hover-item=""
          href="#footnote-1"
          class="page-footnotes__item footnote-link"
        >
          <div class="page-footnotes__border"></div>
          <section class="page-footnotes__footnote" id="footnote-1">
            <div class="page-footnotes__footnote-number">1</div>
            <div class="page-footnotes__footnote-detail">
              Capitalized terms used initially in this memorandum without
              definition have the respective meanings later specified.
            </div>
          </section>
        </a>
        <a
          data-directional-hover-item=""
          href="#footnote-2"
          class="page-footnotes__item footnote-link"
        >
          <div class="page-footnotes__border"></div>
          <section class="page-footnotes__footnote" id="footnote-2">
            <div class="page-footnotes__footnote-number">2</div>
            <div class="page-footnotes__footnote-detail">
              As shown in this memorandum, the evidence establishing this fact
              appears to be conclusive.
            </div>
          </section>
        </a>
        <div class="page-footnotes__border"></div>
      </div>
    </section>
  </section>
</main>
{% endblock %}
