nav {
  z-index: 1001;
  position: relative;
  ul {
    display: flex;
    gap: .125rem;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
    transition: color 0.3s ease;
    color: #000000;
    cursor: pointer;
    pointer-events: auto;
    position: relative;
    z-index: 1002;

    &:hover {
      color: #000000;
    }

    &:visited {
      color: #000000;
    }
  }
}
