.about {
  background-color: #00ff00;
}

.gallery {
  background-color:green;
}

.page {
  &-header {
    img {
      width: 100vw;
      height: 100vh;
      object-fit: cover;
      max-inline-size: none; // Override global img constraint
    }
  }

  &-body {
    width: 65%;
    margin: 0 auto;
  }
}
