.about {
  background-color: #00ff00;
}

.gallery {
  // background-color:#800080
}

.page {
  &-header {
    img {
      max-inline-size: 100%;
      object-fit: cover;
    }
  }

  &-body {
    width: 65%;
    margin: 0 auto;
  }
}
