html {
    overflow: hidden;
}

/*body {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}*/

/*main {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}*/

/*nav {
    position: relative;
    display: block;
}*/

/*.home {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.about {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.gallery {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}*/

.smooth-scroll-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.main-content {
}

.transition-overlay {
    background-color: black;
    opacity: 0;
    inset: 0;
    pointer-events: none;
    position: fixed;
    transition: opacity 1s ease;
}

.is-visible {
    opacity: 1;
    pointer-events: auto;
}

.is-hidden {
    opacity: 0;
}

.hide-element {
    animation: fade-out 1s ease forwards;
}

.show-element {
    animation: fade-in 1s ease;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.preloader {
    opacity: 1;
    z-index: 100;
    background-color: black;
    color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 1s ease;

    h1 {
    }
}
